header{
    background-color: #BBBBBB;
    padding: 20px 0;
}
.barraNavegacion{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0px;
}
nav li{
    display: inline;
    margin: 0 0 0 15px; /* top, right, down, left */
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{ /*Hover es cuando el mouse se posiciona sobre de*/
    color: #c78c19;
    text-decoration: underline;
}
.paquetes{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.paquetes li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /*Nos ayuda a que los bordes no se salgan del tamaño ya establecido*/
    border: 2px solid black; /* Suplanta el codigo comentado en una sola linea parametros en orden = ancho, estilo, color*/
    /*border-color: black;
    border-width: 2px;      
    border-style: solid;*/
    border-radius: 10px;
}
.paquetes li:hover{
    border-color: #c78c19;
}
.paquetes li:active{
    border-color: #088c19;
}
.paquetes h2{
    font-size: 30px;
    font-weight: bolder;
}
.paquetes li:hover h2{
    font-size: 33px;
}
.productoDescripcion{
    font-size: 18px;
}
.productoPrecio{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
}
footer{
    text-align: center;
    background: url(img_productos/bg.jpg);
    padding: 40px;
}
.copyright{
    color: white;
    font-size: 13px;
    margin: 20px;
}